@import '../../styles/padroes.scss';

.sectionExperiencia{
   
    min-height: 100vh; /* Em vez de altura fixa, usamos min-height para ajustar conforme o conteúdo */
    padding: 1rem;
    color: white;
    background-color: $corDeFundoAzul;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sectionHabilidade h2{
    font-size: $tamanhoLetrasTitulosDois;
}

.sectionHabilidade h5{
    font-size: $tamanhoLetrasTitulosQuatro;
}


.sectionHabilidade a{
    font-size: $tamanhoLetrasParagrafos;
}

.experienciaLista > ul{
    color: rgb(255, 255, 255);
    list-style: none;
}



/* Responsividade para dispositivos móveis */
@media screen and (max-width: 767px) {
    .sectionExperiencia {
        flex-wrap: wrap;
    }
    .imagem{
        width: 70vw;
        margin-top: 4rem;
    }
}




