@import '../../styles/padroes.scss';

.sectionHabilidade {
    min-height: 100vh; /* Em vez de altura fixa, usamos min-height para ajustar conforme o conteúdo */
    padding: 1rem;
    color: white;
    background-color: $corDeFundoCinza;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

.divOportunidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.divOportunidades h2{
    font-size: $tamanhoLetrasTitulosDois;
}

.divOportunidades h5{
    font-size: $tamanhoLetrasTitulosQuatro;
}


.divOportunidades a{
    font-size: $tamanhoLetrasParagrafos;
}

.divOportunidades img{
    max-width: 100%;
}

/* Responsividade para dispositivos móveis */
@media screen and (max-width: 767px) {
    #divOportunidades {
        flex-wrap: wrap;
    }
}




