@import '../../styles/padroes.scss';


.divOportunidades {
    background-color: $corDeFundoCinza;
    color: $corDeFundoWhite;
    padding: 1rem;
    height: 100vh;
    text-align: center;
  

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.divOportunidades h2{
    font-size: $tamanhoLetrasTitulosDois;
}

.divOportunidades h5{
    font-size: $tamanhoLetrasTitulosQuatro;
}


.divOportunidades a{
    font-size: $tamanhoLetrasParagrafos;
}

.divOportunidades img{
    max-width: 100%;
}

/* Responsividade para dispositivos móveis */
@media screen and (max-width: 767px) {
    #divOportunidades {
        flex-direction: column; /* Empilhar os elementos verticalmente */
        flex-wrap: wrap;
        justify-content: space-around;

        font-size: 18px; /* Ajustar o tamanho da fonte */

    }
}

/* Responsividade para tablets e telas menores */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .divOportunidades {
        font-size: 18px; /* Ajustar o tamanho da fonte */
    }

    .divOportunidades img{
        width: 100%; 
        height: 100%;
    }
}


