$corDeFundoAzul:  #2c3e50;
$corDeFundoCinza: #1F242D;
$corDeFundoBlack: black;
$corPadraoAzul: #01EEFF;
$corDeFundoWhite: white;
$fundoTransparent: transparent;

$corTitulos: white;
$corIcones: #01EEFF;
$corParagrafos: white;

$tamanhoLetrasParagrafos:  1.3rem ;
$tamanhoLetrasTitulosUm: 2rem;
$tamanhoLetrasTitulosDois: 1.7rem;
$tamanhoLetrasTitulosTres: 1.5rem;
$tamanhoLetrasTitulosQuatro: 1rem;

//A exportaçao esta sendo feita diretamente chamando pelo nome do arquivo la no arquivo scss

