$corDeFundoAzul:  #2c3e50;
$corDeFundoCinza: #1F242D;
$corDeFundoBlack: black;
$corDeFundoWhite: white;
$fundoTransparent: transparent;

$corTitulos: white;
$corIcones: #01EEFF;
$corParagrafos: white;

$tamanhoLetrasParagrafos: 1.2rem;
$tamanhoLetrasTitulosUm: 3.5rem;
$tamanhoLetrasTitulosDois: 2.5rem;
$tamanhoLetrasTitulosTres: 1.8rem;
$tamanhoLetrasTitulosQuatro: 1.5rem;

//A exportaçao esta sendo feita diretamente chamando pelo nome do arquivo la no arquivo scss

