.carousel_container {
    margin: auto;
    width: 100%;
    /*Aqui controla a barra de navegaçao*/
    overflow: auto;
  }
  
.carousel {
    margin: 1rem;
    width: 100%;
    
    /*Aqui controla a barra de navegaçao*/
    transition: transform 0.3s ease-in-out;
  
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
.carousel_item {
    flex: 1 1 100%;
  }


.buttons{
    display: flex;
    align-items: flex-end
}

.button{
  background: none;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  padding: 1em;
  cursor: pointer;
  margin-right: 1rem;

  transition: .7s;
}

.icones{
  width: 14px;
  height: 14px;
}

.img {
  /*width: 18rem;
  height: auto;
  max-height: 100%;*/
  width: 299px;
  height: 168px;
}



@keyframes carousel-animation {
    0% {
      opacity: 1;
      transform: rotateY(0);
    }
    100% {
      opacity: 0;
      transform: rotateY(180deg);
    }
  }
  

  /* Media queries */
@media (max-width:600px) {
  .carousel_item {
      flex-basis: calc(100% - (3rem *2));
  }
}