@import '../../styles/padroes.scss';

.NomeLinguagem{
  margin: 0.7rem;
}
.carousel_container {
  margin: auto;
  max-width: 100%;
  padding: 1rem;

  /*Aqui controla a barra de navegaçao*/
  overflow: auto;

}

.carousel {
  margin: 1rem;
  max-width: 100%;
  
  /*Aqui controla a barra de navegaçao*/
  transition: transform 0.3s ease-in-out;

  display: flex;
  align-items: center;
  gap: 3rem;
}

.carousel_item {
   flex: 1 1 100%;
  /* flex-grow: 1; flex-shrink: 1; flex-basis: 100%; */
  text-align: center;
 
  padding: 0.6rem;
  border: 1px solid #01EEFF;
  background-color: #323946;
  border-radius: 20px;

}

.carousel_item:hover {
  border-color: #0e686e;
  transform: scale(1.05);
  box-shadow: 0 0 30px $corPadraoAzul;
}


.imgC {
  /*width: 18rem;
  height: auto;
  max-height: 100%;*/
  max-width: 200px;
  max-height: 200px;
}

  /* Media queries */
  @media (max-width:600px) {
    .carousel_item {
      flex-basis: calc(100% - (3rem *2));
    }
    .img{
      max-width: 200px;
      max-height: 128px;
    }
  }