
.carousel_container {
    width: 100%;
    /*Aqui controla a barra de navegaçao*/
    overflow: auto;
  }
  
.carousel {
    margin: 1rem;
    width: 100%;
    
    /*Aqui controla a barra de navegaçao*/
    transition: transform 0.3s ease-in-out;
  
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
.carousel_item {
    flex: 1 1 100%;
  }

.img {
  /* A propriedade max-width define a largura máxima do elemento. 
     O valor de 100% garante que a imagem preencha completamente a largura do seu contêiner pai, 
     mas não mais do que o tamanho original da imagem. */
  max-width: 100%;

  /* A propriedade height define a altura do elemento. 
     O valor 'auto' mantém a proporção original da imagem enquanto ela é redimensionada. 
     Isso evita que a imagem seja distorcida à medida que muda de tamanho. */
  height: auto;
}


  /* Media queries */
@media (max-width:600px) {
  .carousel_item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .img{
    max-width: 100%;
    height: auto;
  }
}