/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400;700&display=swap');

.NavBar {
  width: 100vw;
   min-height: 4rem;
   font-size: 1.2rem;
 }


 .nome{
   font-size: 1.2rem;
   font-family: 'Poppins', sans-serif;
   font-weight: bolder;
 }

