.footer{
    background-color: #1F242D;
    color: aliceblue;
    
    text-align: center;
    padding: 3rem;

    display: inline-block;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}   

.links{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid #01EEFF;
    border-radius: 50%;
    font-size: 2rem;
    color: #01EEFF;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.links:hover {
    background: #01EEFF;
    color: black;
    box-shadow: 0 0 1rem black;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
    .footer {
        padding: 1rem; /* Reduz o padding para ocupar menos espaço verticalmente */
    }
  
    .a:hover {
        padding: .1rem; /* Reduz o padding para ocupar menos espaço ao clicar/hover */
        border-radius: .5rem; /* Reduz o raio do border-radius para ficar proporcional */
    }
}