.footer{
    background-color: #2c3e50;
    color: aliceblue;
    
    text-align: center;
    padding: 2rem;

    display: inline-block;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}   

.a{
    color: white;
    text-decoration: none;
}

.a:hover{
    background-color: black;
    padding: .5rem;
    border-radius: 1rem;

}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
    .footer {
        padding: 1rem; /* Reduz o padding para ocupar menos espaço verticalmente */
    }
  
    .a:hover {
        padding: .1rem; /* Reduz o padding para ocupar menos espaço ao clicar/hover */
        border-radius: .5rem; /* Reduz o raio do border-radius para ficar proporcional */
    }
}