.Header{
    background-color: #2c3e50;
    color: antiquewhite;

    text-align: center;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    /*Animaçoes*/
    transform: translateX(-100%);
    animation: slide-in 2s forwards;
}
  
@keyframes slide-in {
    /* Define a animação em 50% da duração total */
    50% {
      transform: translateX(-100%); /* Desloca o elemento para a esquerda */
    }
    
    /* Define a animação no final da duração total */
    100% {
      transform: translateX(0); /* Volta o elemento à posição original */
    }
  }
  

.Button{
    background-color: #2c3e50;
    color: antiquewhite;
    width: 6rem;
    height: 2.6rem;
    border-radius: 10%;

    margin: auto;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    /* Define o estado inicial da animação */
    0% {
      transform: scale(1); /* Escala normal do elemento */
    }
  
    /* Define o estado intermediário da animação */
    50% {
      transform: scale(1.1); /* Escala aumentada em 1.2 vezes */
    }
  
    /* Define o estado final da animação */
    100% {
      transform: scale(1); /* Volta à escala normal do elemento */
    }
  }
  

.img{
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    border-radius: 50%;
    margin: auto;
}

.Titulos{
    padding: 1rem;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Links{
    color: antiquewhite;
    text-align: center;

    display: flex;
    gap: 1rem;
    justify-content: center;
}

.Links > a {
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
}