.Header{
    background-color: #2c3e50;
    color: antiquewhite;

    text-align: center;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.img{
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    border-radius: 80%;
    margin: auto;
}

.Titulos{
    padding: 1rem;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Links{
    color: antiquewhite;
    text-align: center;

    display: flex;
    gap: 1rem;
    justify-content: center;
}

.Links > a {
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 480px) {
  .img {
      width: 10rem; /* Reduz o tamanho da imagem para caber melhor na tela */
      height: 10rem;
  }

  .Links > a {
      font-size: 2rem; /* Reduz o tamanho da fonte dos links para caber melhor na tela */
  }
}