.header{
    background-color: #2c3e50;
    color: antiquewhite;

    margin-top: 4rem;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 30vw;
    border-radius: 4px; /* Cantos arredondados opcionais */

    margin: 3rem;
    transition: transform 0.2s, box-shadow 0.2s; /* Adiciona transições suaves para transformações e sombras */
}
  
  /* Estilo de imagem quando o mouse passa por cima (hover) */
.img:hover {
    transform: scale(1.1); /* Aumenta um pouco o tamanho da imagem */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil */
}

.divTitulos{
    margin: 3rem;
}

.tituloTres{
    color: aliceblue;
    font-size: 2.2rem;
    font-weight: bold;
}

.tituloUm{
    color: aliceblue;
    font-size: 4.6rem;
    font-weight: bold;
    line-height: 1.3;
}

.paragrafo{
    color: aliceblue;
    font-size: 1.2rem;
}

.links{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 1rem;
    min-width: 1rem;
    max-width: 3rem;
    max-height: 3rem;
    background: transparent;
    border: 0.2rem solid #01EEFF;
    border-radius: 50%;
    font-size: 2rem;
    color: #01EEFF;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.links:hover {
    background: #01EEFF;
    color: black;
    box-shadow: 0 0 1rem black;
}

.button{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 4rem;

    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;

    transition: .5s ease;

    background: #01EEFF;
    box-shadow: #01EEFF;
    color: black;
}



/* Responsividade para dispositivos móveis */
@media screen and (max-width: 892px) {
    .header {
        padding: 2rem;
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .img {
        width: 80%;
        margin: 2rem 0;
    }

    .divTitulos {
        margin: 2rem 0;
    }

    .tituloUm {
        font-size: 3rem;
    }

    .tituloTres {
        font-size: 1.8rem;
    }

    .paragrafo {
        font-size: 1rem;
    }

    .links {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        margin: 1.5rem 1rem;
    }

    .btn {
        padding: 1rem 2rem;
        font-size: 1.2rem;
    }
}