
  // Rest of CSS (Purely for this pen)
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
  
  
  // Text Can be styled just like normal
  .headline{
    margin: 20px;
    color: white;
    font-size: 32px;
    text-align: center;
    h1{
      letter-spacing: 1.6px;
      font-weight: 300;
    }
  }
  
  .twitterLink{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 15px;
    z-index: 3;
    svg{
      width: 25px;
    }
  }
  
  .credit{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  