.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  
  }
  
 ul {
    text-align: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 90%;
  }
  
.div > ul > li {
    border: 1px solid black;
    padding: 1rem;
  /* Define a largura máxima para evitar que o conteúdo se torne muito largo em telas grandes */
  }