.div{
    height: 100vh;
    background-color:#1F242D;
    //background-color: #080e14;
    color: white;

    padding: 1rem;

    
    font-size: 1rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.negrito{
    font-weight: bolder;
}
