@import '../../styles/padroes.scss';

.sectionSobreMim {
    min-height: 100vh; /* Em vez de altura fixa, usamos min-height para ajustar conforme o conteúdo */
    padding: 1rem;
    color: white;
    background-color: $corDeFundoCinza;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

.sobreMimdivPai{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.divTextos > h1{
    font-size: $tamanhoLetrasTitulosUm;
}

.divTextos > h3{
    font-size: $tamanhoLetrasTitulosTres;
}

.divTextos > p{
    color: $corParagrafos;
    font-size: $tamanhoLetrasParagrafos;
}

.negrito{
    font-weight: bolder;
}

.imagemSobreMim {
    max-width: 100%; /* Reduz a largura máxima da imagem para 80% em telas menores */
}

.SobreMimexperienciaLista {
  color: rgb(255, 255, 255);
  list-style: none;
}



/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .sobreMimdivPai {
      flex-direction: column;
      align-items: center;
      margin: 1rem;
    }
  
    .divTextos{
      display: flex;
      flex-direction: column;
    }
  }
  