@import '../../styles/padroes.scss';
@import '../../styles/mixins.sass';

.sectionSobreMim {
  @include altura;
     /* Em vez de altura fixa, usamos min-height para ajustar conforme o conteúdo */
    padding: 1rem;
    color: white;
    background-color: $corDeFundoCinza;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.divTxt{
  width: 50%;
}

.divTexto > h1{
    font-size: $tamanhoLetrasTitulosUm;
}

.divTexto > h3{
    font-size: $tamanhoLetrasTitulosTres;
}

.divTexto > p{
    color: $corParagrafos;
    font-size: $tamanhoLetrasParagrafos;
}

.negrito{
    font-weight: bolder;
}

.imagemSobreMim {
    max-width: 100%; /* Reduz a largura máxima da imagem para 80% em telas menores */
}

.SobreMimexperienciaLista {
  color: rgb(255, 255, 255);
  list-style: none;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {

  .divTxt{
    width: 100%;
  }
  .sectionSobreMim {
    @include altura;
      flex-wrap: wrap;
  }
  
    .divTexto{
      display: flex;
      flex-direction: column;
    }

    .borda{
      @include border
    }

    .divTexto{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  