
*{
  font-family: 'Poppins', sans-serif;
}
.progress-wheel {
    position: fixed;
    top: 20px;
    left: 20px;
    transform: rotate(-90deg);
  }
  
  .progress-wheel circle {
    stroke-dashoffset: 0;
    stroke-width: 30%;
    fill: none;
  }
  
  .progress-wheel .bg {
    stroke: var(--accent);
    opacity: 0.2;
  }
  
  .progress-wheel .progress {
    stroke: var(--accent);
    stroke-dasharray: 0, 1;
  }
  